{
  'env': {
    'browser': true,
    'es6': true,
    'node': true,
  },
  'plugins': ['import', 'react', 'react-hooks', 'jsx-a11y'],
  'extends': ['airbnb'],
  'rules': {
    'strict': ['error', 'global'],
    'no-use-before-define': ['error', { 'functions': false, 'classes': true }],
    'max-len': ['warn', 160],
    'no-plusplus': 'off',
    'no-multi-spaces': 'off',
    'space-before-function-paren': 'off',
    'arrow-body-style': 'off',
    'class-methods-use-this': 'warn',
    'no-underscore-dangle': ['error', { 'allowAfterThis': true }],
    'no-restricted-syntax': ['off', 'ForOfStatement'],
    'no-param-reassign': 'warn',
    'prefer-object-spread': ['warn'],
    'import/prefer-default-export': 'off',
    "import/no-extraneous-dependencies": 'warn',
    // "import/no-extraneous-dependencies": ['warn', {'devDependencies': true}],
    'object-curly-newline': ['error', { 'multiline': true }],
    'react/jsx-props-no-spreading': 'off',
    'jsx-a11y/no-autofocus': 'warn',
    'jsx-a11y/media-has-caption': 'off',
    'jsx-a11y/click-events-have-key-events': 'warn',
    'jsx-a11y/no-static-element-interactions': 'warn',
    'jsx-a11y/label-has-associated-control': [ 'error', {
      'required': {
        'some': [ 'nesting', 'id'  ]
      }
    }]
  },
  'parserOptions': {
    ecmaVersion: 2020
  },
}
