html {
  --gap-container-block: 5rem;
  --transition-main: 0.5s;

  --color-scale-red: #FF6E4E;
  --color-scale-blue: #041FBA;
  --color-scale-gray: #A1A1A1;
  --color-scale-white: #ffffff;
  --color-scale-black: #000000;
  --color-scale-blue-opacity: rgba(4, 31, 186, 0.4);
}

@s: var(--transition-main);
@gap: var(--gap-container-block);
@color-primary: var(--color-scale-blue);

@color-red: var(--color-scale-red);
@color-blue: var(--color-scale-blue);
@color-gray: var(--color-scale-gray);
@color-white: var(--color-scale-white);
@color-black: var(--color-scale-black);
@color-blue-opacity: var(--color-scale-blue-opacity);
