.button-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 8.8rem;
  height: 5.2rem;

  background-color: @color-white;
  border: 0.2rem solid @color-black;

  transition: @s;

  &:hover,
  &:focus {
    background-color: @color-black;

    &::before,
    &::after {
      background-color: @color-white;
    }
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 2.8rem;
    height: 0.3rem;

    background-color: @color-black;
    transition: @s;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
