.done {
  box-sizing: border-box;
  margin-top: 19.3rem;
  padding: 0 1rem;
  text-align: center;
}

.done__title {
  margin-bottom: 1.4rem;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.8rem;
}

.done__desc {
  font-size: 1.4rem;
  line-height: 1.6rem;
}
