::placeholder {
  opacity: 1;
}

.form {
  position: relative;

  &--invalid {
    .form__input {
      color: @color-red;
    }
  }
}

.form__title {
  margin-bottom: 0.9rem;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3rem;
}

.form__desc {
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  opacity: 0.75;
}

.form__input {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.7rem;
  color: inherit;
}

.form__keyboard {
  margin-top: 2rem;
  margin-bottom: 2.6rem;
}

.form__checkbox-input {
  &:checked + .form__checkbox-label::after {
    opacity: 1;
  }
}

.form__checkbox-label {
  box-sizing: border-box;

  position: absolute;
  bottom: 6.4rem;

  display: flex;
  align-items: center;
  height: 5.2rem;
  width: 18rem;
  margin-left: 5rem;

  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: left;
  text-decoration: underline;
  text-decoration-color: currentColor;
  -moz-text-decoration-color: currentColor;
  -webkit-text-decoration-color: currentColor;

  transition: @s;

  .no-select;

  &::before,
  &::after {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: -5rem;
    width: 3.6rem;
    height: 3.6rem;

    border: 0.2rem solid currentColor;
    border-radius: 50%;
  }

  &::after {
    left: -4.2rem;
    width: 2.4rem;
    height: 2rem;

    background-image: url('../../../assets/img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    opacity: 0;
    transition: inherit;
  }
}

.form__checkbox-input:focus + .form__checkbox-label,
.form__checkbox-label:hover {
  text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
}

.form__notify-invalid,
.form__submit {
  width: 23rem;
}

.form__notify-invalid {
  display: block;
  position: absolute;
  bottom: 8rem;

  color: @color-red;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-transform: uppercase;
}

.form__submit {
  margin-top: 6.6rem;
  color: @color-white;
  background-color: @color-black;
  border: 0.2rem solid @color-black;

  &:disabled {
    color: @color-gray;
    border-color: currentColor;
    background-color: transparent;

    &:hover {
      border-color: currentColor;
    }
  }

  &:hover,
  &:focus {
    border-color: @color-white;
    background-color: transparent;
  }
}
