.qr-aside {
  position: absolute;
  bottom: 4rem;
  right: 4rem;
}

.qr-aside__img-wrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.qr-aside__img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
}

.qr-aside__desc {
  width: 19.4rem;
  margin-right: 1rem;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  text-align: right;
  text-transform: uppercase;
  color: @color-white;
}
