.qr {
  height: 100%;

  &:hover,
  &:focus {
    outline: none;
    .qr__img {
      border-radius: 0;
    }
    .qr__img-desc::before {
      opacity: 0;
    }
  }
}

.qr__img-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.qr__img {
  overflow: hidden;
  flex-shrink: 0;

  object-fit: cover;
  border-radius: 2rem;
  transition: @s;

  width: 12.6rem;
  height: 12.6rem;
}

.qr__img-desc {
  position: relative;
  margin-top: var(--margin-block);
  font-size: 1.4rem;
  line-height: 1.9rem;

  &--arrow {
    &::before {
      position: absolute;
      content: '';
      top: -0.4rem;
      left: -2rem;
      transform: scale(-1, 1);
      width: 1.6rem;
      height: 1.6rem;

      background-image: url('../../../assets/img/arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      transition: @s;
    }
  }
}

.qr-aside {
  position: absolute;
  bottom: @gap;
  right: @gap;
  width: 31.4rem;

  .qr__img-wrap {
    flex-direction: row-reverse;
  }
  .qr__img {
    width: 11rem;
    height: 11rem;
  }
  .qr__img-desc {
    margin-right: 2rem;

    font-weight: 500;
    font-size: 1.6rem;
    text-align: right;
    text-transform: uppercase;
  }
}
